.container {
    background: #3f51b5;
    height: 100%;
    text-align: center;
    width: 100%;
    button {
        color: #3f51b5;
        background-color: #fff;
    }
    h1 {
        color: #fff;
        margin: 0;
        padding-top: 300px;
        padding-bottom: 20px;
    }
}
