<mat-toolbar color="primary">
    <span>{{'h&eacute;roes app' | uppercase}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="icon logout" routerLink="/welcome">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>