h1 {
    text-align: center;
}

mat-spinner {
    margin: 0 auto;
}

mat-table {
    width: 100%;
    mat-row {
        mat-cell {
            img {
                width: 50px;
            }
        }
    }
}
