<app-header></app-header>
<h1>{{'Lista de superh&eacute;roes' | uppercase}}</h1>
<mat-spinner *ngIf="loading"></mat-spinner>
<div [ngStyle]="{visibility: (status === 200 && !loading) ? 'visible':'hidden'}" layout="row" flex>
    <div class="mat-elevation-z8">
        <mat-table mat-table [dataSource]="heroes" matSort sticky>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'id' | uppercase}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="superhero">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'superh&eacute;roes' | uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.superhero}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="publisher">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'editor' | uppercase}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.publisher}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="alterEgo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'&aacute;lter ego' | uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.alterEgo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="firstAppearance">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'primera aparici&oacute;n' | uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstAppearance}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="characters">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'personaje' | uppercase}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.characters}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef> {{'imagen' | uppercase}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> <img src="assets/img/{{element.id}}.jpg" alt="{{element.id}}.jpg">
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="heroesTitle"></mat-header-row>
            <mat-row *matRowDef="let row; columns: heroesTitle;"></mat-row>
        </mat-table>
        <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div [ngStyle]="{visibility: (status !== 200 && !loading) ? 'visible':'hidden'}" layout="row" flex>
    <h3>{{'No logramos cargar la informaci&oacute;n' | uppercase}}</h3>
</div>
<app-footer></app-footer>